In [1]:
import pandas as pd
import numpy as np

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df1 = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\data-preprocessing-city-visiting-places.csv')

In [3]:
pd.set_option('display.max_rows',None)

In [4]:
df1.head(10)

,visit_places,rating,city_names,visit_place_summary,distance_from_city_center,tokenized_summary
0,borra caves,4.6,araku valley,borra caves borra guhalu known native language...,18.0,"['borra', 'caves', 'borra', 'guhalu', 'known',..."
1,katiki waterfalls,4.1,araku valley,clear waters river gosthani place goto list area,14.0,"['clear', 'waters', 'river', 'gosthani', 'plac..."
2,chaparai waterfalls,3.9,araku valley,distance 13 km araku chaparai waterfalls dumbr...,NaN,"['distance', '13', 'km', 'araku', 'chaparai', ..."
3,tadimada waterfalls,NaN,araku valley,tadimada waterfalls beauty would make fall lov...,NaN,"['tadimada', 'waterfalls', 'beauty', 'would', ..."
4,matsyagundam,NaN,araku valley,popularly known fish pool matsyagundam near pa...,32.0,"['popularly', 'known', 'fish', 'pool', 'matsya..."
5,bheemili beach,NaN,araku valley,bheemili beach vishakhapatnam districts araku ...,78.0,"['bheemili', 'beach', 'vishakhapatnam', 'distr..."
6,tribal museum,NaN,araku valley,opened 1996 andhra pradesh tourism development...,3.0,"['opened', '1996', 'andhra', 'pradesh', 'touri..."
7,padmapuram gardens,3.6,araku valley,padmapuram gardens known favourite spot among ...,NaN,"['padmapuram', 'gardens', 'known', 'favourite'..."
8,borra caves,4.2,visakhapatnam,stalactite stalagmite formations natural enigm...,69.0,"['stalactite', 'stalagmite', 'formations', 'na..."
9,submarine museum,3.4,visakhapatnam,stroll rk beach drive past beach road might no...,12.0,"['stroll', 'rk', 'beach', 'drive', 'past', 'be..."

In [5]:
df1.shape

(6057, 6)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6057 entries, 0 to 6056
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   visit_places               6057 non-null   object
 1   rating                     3448 non-null   float64
 2   city_names                 5668 non-null   object
 3   visit_place_summary        5743 non-null   object
 4   distance_from_city_center  5231 non-null   float64
 5   tokenized_summary          5743 non-null   object
dtypes: float64(2), object(4)
memory usage: 284.1+ KB

In [7]:
df2 = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\data-preprocessing-state-visiting-places.csv')

In [8]:
df2.head(10)

,visit_places,rating,visit_place_summary,best_time,state_name,no_of_turist_attration,tokenized_summary
0,araku valley,4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
1,visakhapatnam,4.4,visakhapatnam also commonly known vizag one ol...,september to march,andhra pradesh,27.0,"['visakhapatnam', 'also', 'commonly', 'known',..."
2,amaravathi,4.9,known capital andhra pradesh amaravathi planne...,november to march,andhra pradesh,4.0,"['known', 'capital', 'andhra', 'pradesh', 'ama..."
3,gandikota,4.5,endearingly known ‘ grand canyon india ’ gandi...,november to february,andhra pradesh,NaN,"['endearingly', 'known', '‘', 'grand', 'canyon..."
4,tirupati,4.5,situated chittoor district andhra pradesh tiru...,september to march,andhra pradesh,40.0,"['situated', 'chittoor', 'district', 'andhra',..."
5,vijayawada,3.9,nestled banks river krishna state andhra prade...,september to march,andhra pradesh,25.0,"['nestled', 'banks', 'river', 'krishna', 'stat..."
6,anantapur,3.5,anantapuram headquarters anantapur district in...,november to february,andhra pradesh,12.0,"['anantapuram', 'headquarters', 'anantapur', '..."
7,srisailam,4.2,srisailam hill town kurnool district andhra pr...,october to february,andhra pradesh,16.0,"['srisailam', 'hill', 'town', 'kurnool', 'dist..."
8,ananthagiri hills,4.3,set amid eastern ghats ananthagiri hills beaut...,october to march,andhra pradesh,10.0,"['set', 'amid', 'eastern', 'ghats', 'ananthagi..."
9,kurnool,4.6,place much historical value beautiful surround...,december to february,andhra pradesh,30.0,"['place', 'much', 'historical', 'value', 'beau..."

In [9]:
df1['city_names'].unique().shape

(288,)

In [10]:
df2['visit_places'].unique().shape

(914,)

In [11]:
df2.shape

(920, 7)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   visit_places            920 non-null    object
 1   rating                  776 non-null    float64
 2   visit_place_summary     920 non-null    object
 3   best_time               586 non-null    object
 4   state_name              920 non-null    object
 5   no_of_turist_attration  510 non-null    float64
 6   tokenized_summary       920 non-null    object
dtypes: float64(2), object(5)
memory usage: 50.4+ KB

In [13]:
copy_df1 = df1.copy()

In [14]:
copy_df2 = df2.copy()

In [15]:
copy_df1.head(10)

,visit_places,rating,city_names,visit_place_summary,distance_from_city_center,tokenized_summary
0,borra caves,4.6,araku valley,borra caves borra guhalu known native language...,18.0,"['borra', 'caves', 'borra', 'guhalu', 'known',..."
1,katiki waterfalls,4.1,araku valley,clear waters river gosthani place goto list area,14.0,"['clear', 'waters', 'river', 'gosthani', 'plac..."
2,chaparai waterfalls,3.9,araku valley,distance 13 km araku chaparai waterfalls dumbr...,NaN,"['distance', '13', 'km', 'araku', 'chaparai', ..."
3,tadimada waterfalls,NaN,araku valley,tadimada waterfalls beauty would make fall lov...,NaN,"['tadimada', 'waterfalls', 'beauty', 'would', ..."
4,matsyagundam,NaN,araku valley,popularly known fish pool matsyagundam near pa...,32.0,"['popularly', 'known', 'fish', 'pool', 'matsya..."
5,bheemili beach,NaN,araku valley,bheemili beach vishakhapatnam districts araku ...,78.0,"['bheemili', 'beach', 'vishakhapatnam', 'distr..."
6,tribal museum,NaN,araku valley,opened 1996 andhra pradesh tourism development...,3.0,"['opened', '1996', 'andhra', 'pradesh', 'touri..."
7,padmapuram gardens,3.6,araku valley,padmapuram gardens known favourite spot among ...,NaN,"['padmapuram', 'gardens', 'known', 'favourite'..."
8,borra caves,4.2,visakhapatnam,stalactite stalagmite formations natural enigm...,69.0,"['stalactite', 'stalagmite', 'formations', 'na..."
9,submarine museum,3.4,visakhapatnam,stroll rk beach drive past beach road might no...,12.0,"['stroll', 'rk', 'beach', 'drive', 'past', 'be..."

In [16]:
copy_df2.head(10)

,visit_places,rating,visit_place_summary,best_time,state_name,no_of_turist_attration,tokenized_summary
0,araku valley,4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
1,visakhapatnam,4.4,visakhapatnam also commonly known vizag one ol...,september to march,andhra pradesh,27.0,"['visakhapatnam', 'also', 'commonly', 'known',..."
2,amaravathi,4.9,known capital andhra pradesh amaravathi planne...,november to march,andhra pradesh,4.0,"['known', 'capital', 'andhra', 'pradesh', 'ama..."
3,gandikota,4.5,endearingly known ‘ grand canyon india ’ gandi...,november to february,andhra pradesh,NaN,"['endearingly', 'known', '‘', 'grand', 'canyon..."
4,tirupati,4.5,situated chittoor district andhra pradesh tiru...,september to march,andhra pradesh,40.0,"['situated', 'chittoor', 'district', 'andhra',..."
5,vijayawada,3.9,nestled banks river krishna state andhra prade...,september to march,andhra pradesh,25.0,"['nestled', 'banks', 'river', 'krishna', 'stat..."
6,anantapur,3.5,anantapuram headquarters anantapur district in...,november to february,andhra pradesh,12.0,"['anantapuram', 'headquarters', 'anantapur', '..."
7,srisailam,4.2,srisailam hill town kurnool district andhra pr...,october to february,andhra pradesh,16.0,"['srisailam', 'hill', 'town', 'kurnool', 'dist..."
8,ananthagiri hills,4.3,set amid eastern ghats ananthagiri hills beaut...,october to march,andhra pradesh,10.0,"['set', 'amid', 'eastern', 'ghats', 'ananthagi..."
9,kurnool,4.6,place much historical value beautiful surround...,december to february,andhra pradesh,30.0,"['place', 'much', 'historical', 'value', 'beau..."

In [17]:
copy_df2.rename(columns={'visit_places':'city_names',
                          'rating':'city_rating',
                          "visit_place_summary":"city_summary",
                          "best_time":"best_time_to_visit",
                          "tokenized_summary":"city_tokenized_summary"},inplace=True)

In [18]:
copy_df1.head(10)

,visit_places,rating,city_names,visit_place_summary,distance_from_city_center,tokenized_summary
0,borra caves,4.6,araku valley,borra caves borra guhalu known native language...,18.0,"['borra', 'caves', 'borra', 'guhalu', 'known',..."
1,katiki waterfalls,4.1,araku valley,clear waters river gosthani place goto list area,14.0,"['clear', 'waters', 'river', 'gosthani', 'plac..."
2,chaparai waterfalls,3.9,araku valley,distance 13 km araku chaparai waterfalls dumbr...,NaN,"['distance', '13', 'km', 'araku', 'chaparai', ..."
3,tadimada waterfalls,NaN,araku valley,tadimada waterfalls beauty would make fall lov...,NaN,"['tadimada', 'waterfalls', 'beauty', 'would', ..."
4,matsyagundam,NaN,araku valley,popularly known fish pool matsyagundam near pa...,32.0,"['popularly', 'known', 'fish', 'pool', 'matsya..."
5,bheemili beach,NaN,araku valley,bheemili beach vishakhapatnam districts araku ...,78.0,"['bheemili', 'beach', 'vishakhapatnam', 'distr..."
6,tribal museum,NaN,araku valley,opened 1996 andhra pradesh tourism development...,3.0,"['opened', '1996', 'andhra', 'pradesh', 'touri..."
7,padmapuram gardens,3.6,araku valley,padmapuram gardens known favourite spot among ...,NaN,"['padmapuram', 'gardens', 'known', 'favourite'..."
8,borra caves,4.2,visakhapatnam,stalactite stalagmite formations natural enigm...,69.0,"['stalactite', 'stalagmite', 'formations', 'na..."
9,submarine museum,3.4,visakhapatnam,stroll rk beach drive past beach road might no...,12.0,"['stroll', 'rk', 'beach', 'drive', 'past', 'be..."

In [19]:
copy_df1.rename(columns={"rating":"place_rating",
                        "tokenized_summary":"visit_place_tokenized_summary"},inplace= True)

In [20]:
copy_df1.head(10)

,visit_places,place_rating,city_names,visit_place_summary,distance_from_city_center,visit_place_tokenized_summary
0,borra caves,4.6,araku valley,borra caves borra guhalu known native language...,18.0,"['borra', 'caves', 'borra', 'guhalu', 'known',..."
1,katiki waterfalls,4.1,araku valley,clear waters river gosthani place goto list area,14.0,"['clear', 'waters', 'river', 'gosthani', 'plac..."
2,chaparai waterfalls,3.9,araku valley,distance 13 km araku chaparai waterfalls dumbr...,NaN,"['distance', '13', 'km', 'araku', 'chaparai', ..."
3,tadimada waterfalls,NaN,araku valley,tadimada waterfalls beauty would make fall lov...,NaN,"['tadimada', 'waterfalls', 'beauty', 'would', ..."
4,matsyagundam,NaN,araku valley,popularly known fish pool matsyagundam near pa...,32.0,"['popularly', 'known', 'fish', 'pool', 'matsya..."
5,bheemili beach,NaN,araku valley,bheemili beach vishakhapatnam districts araku ...,78.0,"['bheemili', 'beach', 'vishakhapatnam', 'distr..."
6,tribal museum,NaN,araku valley,opened 1996 andhra pradesh tourism development...,3.0,"['opened', '1996', 'andhra', 'pradesh', 'touri..."
7,padmapuram gardens,3.6,araku valley,padmapuram gardens known favourite spot among ...,NaN,"['padmapuram', 'gardens', 'known', 'favourite'..."
8,borra caves,4.2,visakhapatnam,stalactite stalagmite formations natural enigm...,69.0,"['stalactite', 'stalagmite', 'formations', 'na..."
9,submarine museum,3.4,visakhapatnam,stroll rk beach drive past beach road might no...,12.0,"['stroll', 'rk', 'beach', 'drive', 'past', 'be..."

In [21]:
copy_df2.head(10)

,city_names,city_rating,city_summary,best_time_to_visit,state_name,no_of_turist_attration,city_tokenized_summary
0,araku valley,4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
1,visakhapatnam,4.4,visakhapatnam also commonly known vizag one ol...,september to march,andhra pradesh,27.0,"['visakhapatnam', 'also', 'commonly', 'known',..."
2,amaravathi,4.9,known capital andhra pradesh amaravathi planne...,november to march,andhra pradesh,4.0,"['known', 'capital', 'andhra', 'pradesh', 'ama..."
3,gandikota,4.5,endearingly known ‘ grand canyon india ’ gandi...,november to february,andhra pradesh,NaN,"['endearingly', 'known', '‘', 'grand', 'canyon..."
4,tirupati,4.5,situated chittoor district andhra pradesh tiru...,september to march,andhra pradesh,40.0,"['situated', 'chittoor', 'district', 'andhra',..."
5,vijayawada,3.9,nestled banks river krishna state andhra prade...,september to march,andhra pradesh,25.0,"['nestled', 'banks', 'river', 'krishna', 'stat..."
6,anantapur,3.5,anantapuram headquarters anantapur district in...,november to february,andhra pradesh,12.0,"['anantapuram', 'headquarters', 'anantapur', '..."
7,srisailam,4.2,srisailam hill town kurnool district andhra pr...,october to february,andhra pradesh,16.0,"['srisailam', 'hill', 'town', 'kurnool', 'dist..."
8,ananthagiri hills,4.3,set amid eastern ghats ananthagiri hills beaut...,october to march,andhra pradesh,10.0,"['set', 'amid', 'eastern', 'ghats', 'ananthagi..."
9,kurnool,4.6,place much historical value beautiful surround...,december to february,andhra pradesh,30.0,"['place', 'much', 'historical', 'value', 'beau..."

In [22]:
copy_df1.shape

(6057, 6)

In [23]:
copy_df2.shape

(920, 7)

In [24]:
merged_df = pd.merge(copy_df1, copy_df2, how='left', on='city_names')

In [25]:
merged_df.head(10)

,visit_places,place_rating,city_names,visit_place_summary,distance_from_city_center,visit_place_tokenized_summary,city_rating,city_summary,best_time_to_visit,state_name,no_of_turist_attration,city_tokenized_summary
0,borra caves,4.6,araku valley,borra caves borra guhalu known native language...,18.0,"['borra', 'caves', 'borra', 'guhalu', 'known',...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
1,katiki waterfalls,4.1,araku valley,clear waters river gosthani place goto list area,14.0,"['clear', 'waters', 'river', 'gosthani', 'plac...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
2,chaparai waterfalls,3.9,araku valley,distance 13 km araku chaparai waterfalls dumbr...,NaN,"['distance', '13', 'km', 'araku', 'chaparai', ...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
3,tadimada waterfalls,NaN,araku valley,tadimada waterfalls beauty would make fall lov...,NaN,"['tadimada', 'waterfalls', 'beauty', 'would', ...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
4,matsyagundam,NaN,araku valley,popularly known fish pool matsyagundam near pa...,32.0,"['popularly', 'known', 'fish', 'pool', 'matsya...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
5,bheemili beach,NaN,araku valley,bheemili beach vishakhapatnam districts araku ...,78.0,"['bheemili', 'beach', 'vishakhapatnam', 'distr...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
6,tribal museum,NaN,araku valley,opened 1996 andhra pradesh tourism development...,3.0,"['opened', '1996', 'andhra', 'pradesh', 'touri...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
7,padmapuram gardens,3.6,araku valley,padmapuram gardens known favourite spot among ...,NaN,"['padmapuram', 'gardens', 'known', 'favourite'...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
8,borra caves,4.2,visakhapatnam,stalactite stalagmite formations natural enigm...,69.0,"['stalactite', 'stalagmite', 'formations', 'na...",4.4,visakhapatnam also commonly known vizag one ol...,september to march,andhra pradesh,27.0,"['visakhapatnam', 'also', 'commonly', 'known',..."
9,submarine museum,3.4,visakhapatnam,stroll rk beach drive past beach road might no...,12.0,"['stroll', 'rk', 'beach', 'drive', 'past', 'be...",4.4,visakhapatnam also commonly known vizag one ol...,september to march,andhra pradesh,27.0,"['visakhapatnam', 'also', 'commonly', 'known',..."

In [38]:
merged_df.shape

(6117, 12)

In [26]:
merged_df[merged_df.duplicated()]

,visit_places,place_rating,city_names,visit_place_summary,distance_from_city_center,visit_place_tokenized_summary,city_rating,city_summary,best_time_to_visit,state_name,no_of_turist_attration,city_tokenized_summary
356,kheti and lajo village,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,khonsa museum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,namdapha national park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,miao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,district museum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,sissu lake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2202,adventure activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5075,unokotiswara kal bhairava,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
merged_df.drop_duplicates(inplace=True)

In [28]:
merged_df.duplicated().sum()

0

In [29]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6117 entries, 0 to 6124
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   visit_places                   6117 non-null   object
 1   place_rating                   3486 non-null   float64
 2   city_names                     5736 non-null   object
 3   visit_place_summary            5811 non-null   object
 4   distance_from_city_center      5293 non-null   float64
 5   visit_place_tokenized_summary  5811 non-null   object
 6   city_rating                    5460 non-null   float64
 7   city_summary                   5562 non-null   object
 8   best_time_to_visit             5460 non-null   object
 9   state_name                     5562 non-null   object
 10  no_of_turist_attration         5460 non-null   float64
 11  city_tokenized_summary         5562 non-null   object
dtypes: float64(4), object(8)
memory usage: 621.3+ KB

In [31]:
merged_df.columns

Index(['visit_places', 'place_rating', 'city_names', 'visit_place_summary',
       'distance_from_city_center', 'visit_place_tokenized_summary',
       'city_rating', 'city_summary', 'best_time_to_visit', 'state_name',
       'no_of_turist_attration', 'city_tokenized_summary'],
      dtype='object')

In [33]:
merged_df.isnull().sum()

visit_places                        0
place_rating                     2631
city_names                        381
visit_place_summary               306
distance_from_city_center         824
visit_place_tokenized_summary     306
city_rating                       657
city_summary                      555
best_time_to_visit                657
state_name                        555
no_of_turist_attration            657
city_tokenized_summary            555
dtype: int64

In [34]:
copy_df1.isnull().sum()

visit_places                        0
place_rating                     2609
city_names                        389
visit_place_summary               314
distance_from_city_center         826
visit_place_tokenized_summary     314
dtype: int64

In [36]:
copy_df2.isnull().sum()

city_names                  0
city_rating               144
city_summary                0
best_time_to_visit        334
state_name                  0
no_of_turist_attration    410
city_tokenized_summary      0
dtype: int64

In [39]:
merged_df.head()

,visit_places,place_rating,city_names,visit_place_summary,distance_from_city_center,visit_place_tokenized_summary,city_rating,city_summary,best_time_to_visit,state_name,no_of_turist_attration,city_tokenized_summary
0,borra caves,4.6,araku valley,borra caves borra guhalu known native language...,18.0,"['borra', 'caves', 'borra', 'guhalu', 'known',...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
1,katiki waterfalls,4.1,araku valley,clear waters river gosthani place goto list area,14.0,"['clear', 'waters', 'river', 'gosthani', 'plac...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
2,chaparai waterfalls,3.9,araku valley,distance 13 km araku chaparai waterfalls dumbr...,NaN,"['distance', '13', 'km', 'araku', 'chaparai', ...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
3,tadimada waterfalls,NaN,araku valley,tadimada waterfalls beauty would make fall lov...,NaN,"['tadimada', 'waterfalls', 'beauty', 'would', ...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."
4,matsyagundam,NaN,araku valley,popularly known fish pool matsyagundam near pa...,32.0,"['popularly', 'known', 'fish', 'pool', 'matsya...",4.8,araku valley comparatively unexplored hill sta...,september to february,andhra pradesh,8.0,"['araku', 'valley', 'comparatively', 'unexplor..."

In [37]:
merged_df.columns

Index(['visit_places', 'place_rating', 'city_names', 'visit_place_summary',
       'distance_from_city_center', 'visit_place_tokenized_summary',
       'city_rating', 'city_summary', 'best_time_to_visit', 'state_name',
       'no_of_turist_attration', 'city_tokenized_summary'],
      dtype='object')

In [40]:
merged_df = merged_df[['visit_places','place_rating','visit_place_summary','visit_place_tokenized_summary',
                       'distance_from_city_center','city_names','city_rating','city_summary','city_tokenized_summary',
                      'no_of_turist_attration','best_time_to_visit','state_name']]

In [41]:
merged_df.head()

,visit_places,place_rating,visit_place_summary,visit_place_tokenized_summary,distance_from_city_center,city_names,city_rating,city_summary,city_tokenized_summary,no_of_turist_attration,best_time_to_visit,state_name
0,borra caves,4.6,borra caves borra guhalu known native language...,"['borra', 'caves', 'borra', 'guhalu', 'known',...",18.0,araku valley,4.8,araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",8.0,september to february,andhra pradesh
1,katiki waterfalls,4.1,clear waters river gosthani place goto list area,"['clear', 'waters', 'river', 'gosthani', 'plac...",14.0,araku valley,4.8,araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",8.0,september to february,andhra pradesh
2,chaparai waterfalls,3.9,distance 13 km araku chaparai waterfalls dumbr...,"['distance', '13', 'km', 'araku', 'chaparai', ...",NaN,araku valley,4.8,araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",8.0,september to february,andhra pradesh
3,tadimada waterfalls,NaN,tadimada waterfalls beauty would make fall lov...,"['tadimada', 'waterfalls', 'beauty', 'would', ...",NaN,araku valley,4.8,araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",8.0,september to february,andhra pradesh
4,matsyagundam,NaN,popularly known fish pool matsyagundam near pa...,"['popularly', 'known', 'fish', 'pool', 'matsya...",32.0,araku valley,4.8,araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",8.0,september to february,andhra pradesh

In [42]:
merged_df.shape

(6117, 12)

In [46]:
merged_df.rename(columns={'visit_places':'visiting_places', 'place_rating':'visiting_places_rating',
                          'city_names':'cities_name', 'visit_place_summary':'visiting_place_summary',
                          'visit_place_tokenized_summary':'visiting_place_tokenized_summary',
                          'state_name':'states_name','no_of_turist_attration':'no_of_tourist_attration'},inplace=True)

In [48]:
merged_df.to_csv('merge_city_state.csv',index = False)